# npm镜像源
registry=https://registry.npmmirror.com

# Puppeteer配置
PUPPETEER_SKIP_DOWNLOAD=true
PUPPETEER_DOWNLOAD_HOST=https://npmmirror.com/mirrors/chromium-browser-snapshots
PUPPETEER_SKIP_CHROMIUM_DOWNLOAD=true

# 其他二进制包镜像
sass_binary_site=https://npmmirror.com/mirrors/node-sass
binary_site=https://npmmirror.com/mirrors/node
electron_mirror=https://npmmirror.com/mirrors/electron/
chromedriver_cdnurl=https://npmmirror.com/mirrors/chromedriver
operadriver_cdnurl=https://npmmirror.com/mirrors/operadriver
phantomjs_cdnurl=https://npmmirror.com/mirrors/phantomjs
selenium_cdnurl=https://npmmirror.com/mirrors/selenium
node_inspector_cdnurl=https://npmmirror.com/mirrors/node-inspector

# 网络相关
strict-ssl=false
network-timeout=100000

git-auth-type=https